name: Deploy Estoque POC

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy na VPS
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          
          cat >> ~/.ssh/config <<EOF
          Host vps
            HostName ${{ secrets.VPS_HOST }}
            User ${{ secrets.VPS_USER }}
            IdentityFile ~/.ssh/deploy_key
            StrictHostKeyChecking no
            UserKnownHostsFile=/dev/null
          EOF
          
          echo "========== EXECUTANDO DEPLOY NA VPS =========="
          ssh -tt vps 'cd /opt/apps/estoque-poc && bash deploy.sh; exit 0'
          
          rm -f ~/.ssh/deploy_key
