name: Deploy Estoque POC

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy na VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script_stop: true
          script: |
            cd /opt/apps/estoque-poc
            git fetch origin main
            git reset --hard origin/main
            echo "--- Versão do Código baixada: ---"
            git log -1 --format="%h - %s (%cr)"
            docker compose down
            docker compose up -d --build --force-recreate
            echo "--- Status dos Containers (ps -a): ---"
            docker compose ps -a
            echo "--- Logs de Inicialização: ---"
            docker compose logs --tail=50
